/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
/* HTML5 display-role reset for older browsers */
/* Jak chcesz dodac to wpisz blat1 itd */
html, body {
  overflow-x: hidden;
  background-color: #f0f1f3;
  font-family: Verdana, sans-serif;
}

#content {
  margin: 0;
}

.background {
  min-height: 40vw;
  background-color: #f0f1f3;
}

.kontener {
  background-color: #f0f1f3;
}

.adnotations-container {
  background-color: #f0f1f3;
}

.adnotations-container .adnotations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 50%;
}

.adnotations-container .adnotations img {
  height: 1vw;
  width: 1.5vw;
}

.adnotations-container .adnotations li {
  list-style: none;
}

.odstep {
  margin-top: 100px;
}

.tables {
  background-color: #f0f1f3;
  margin-left: 50px;
  width: 50%;
}

.tables .t-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tables .t-section .t-row {
  border-top: 1px solid #3b3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tables .t-section .t-row .column {
  width: 160px;
  margin: 25px;
}

.col-4 {
  margin-left: 0;
}

.top-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row {
  left: 0;
  right: 0;
  text-align: center;
  clear: both;
  display: table;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row .col {
  /*Optional*/
  margin-left: 3px;
  margin-right: 3px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row .col img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
}

.row .col img:hover {
  background-color: aliceblue;
}

.bg {
  margin-top: 100px;
  width: 50%;
  height: 800px;
  margin-left: 50px;
  position: absolute;
  background-image: url("makieta/bez_tlo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
  left: 0;
  right: 0;
  text-align: center;
}

.ttops {
  margin-top: 100px;
  width: 50%;
  height: 800px;
  position: absolute;
  background-image: url("makieta/test/test-blat-buk.png");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 3;
  left: 0;
  right: 0;
  text-align: center;
}

.tbases {
  margin-top: 100px;
  width: 50%;
  height: 800px;
  background-image: url("makieta/test/test-noga-czarny.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  text-align: center;
}

.tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.miniatura img {
  width: 140px;
}

.accordion {
  background-color: white;
  border: 1px solid gray;
  border-radius: 15px;
  color: black;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
  margin-bottom: 5px;
}

.panel {
  padding: 0 18px;
  margin-top: -18px;
  padding-top: 15px;
  border: 1px solid gray;
  display: none;
  background-color: white;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.active,
.accordion:hover {
  background-color: #bb9a6f;
  color: black;
  border: 1px solid gray;
}

.etykieta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  border-radius: 15px;
  border: 1px solid gray;
  padding: 5px;
  width: 30%;
  float: left;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: white;
  margin-bottom: 10px;
}

.etykieta p {
  margin-left: 5px;
}

.etykieta:hover {
  background-color: #c4a35c;
  color: black;
  cursor: pointer;
}

.drewno {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  border: 2px solid gray;
}

.tytul {
  margin-top: 30px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the tab */
.blok {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #c4a35c;
}

.description {
  border: none;
}

.blok:hover .overlay {
  opacity: 0.8;
  cursor: pointer;
}

.mobile {
  display: none;
}

@-webkit-keyframes mymove {
  from {
    right: 0px;
  }
  to {
    right: 140px;
  }
}

@keyframes mymove {
  from {
    right: 0px;
  }
  to {
    right: 140px;
  }
}

#makieta {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .bg {
    margin-top: 20px;
    width: 100%;
    margin-left: 0;
    position: absolute;
    height: 250px;
    background-image: url("makieta/tlo.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    left: 0;
    right: 0;
    text-align: center;
  }
  .ttops {
    margin-top: 20px;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    height: 250px;
    background-image: url("makieta/blat_oak.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 3;
  }
  .tbases {
    margin-top: 20px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("makieta/lotus/lotus-bialy.png");
    left: 0;
    right: 0;
    text-align: center;
    height: 250px;
    position: absolute;
    z-index: 2;
  }
  html,
  body {
    overflow: auto;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .gap {
    margin-top: 300px;
  }
  .space {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .accordion {
    background-color: white;
    border: 1px solid gray;
    border-radius: 15px;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
    margin-bottom: 5px;
  }
  .panel {
    padding: 0 18px;
    margin-top: -15px;
    padding-top: 15px;
    border: 1px solid gray;
    display: none;
    background-color: white;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
    overflow: hidden;
  }
  .col-4 {
    position: absolute;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    top: 400px;
    min-width: 100vw;
  }
}
/*# sourceMappingURL=style.css.map */