@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .mobile {
        display: block;
        margin-top: 100px;
    }
    .desktop {
        display: none;
    }
    .col-7 {
        display: block;
        width: 100%;
    }
    .tlo {
        width: 100%;
        height: 100px;
    }
    
    .blaty {
        width: 100%;
        height: 100px;
    }
    
    .nogi {
        width: 100%;
        height: 100px;
    }
    .margines {
        background-color: aqua;
        display: block;
        top: 500px;
    }
}